/*Основной цвет текста #757575*/
/*Вторичній цвет текста #212121*/
/*Цвето логотипа Вебстудио голубой-#2196F3 черный #000000*/
/*Цвет текста белый #ffffff */
/*Цвет ссылок в футере rgba(255, 255, 255, 0.6)*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --adress-color: rgba(255, 255, 255, 0.6);
  --logo-black: #000000;
  --logo-white: #ffffff;
  --background-color: #2f303a;
  --button-color: #ffffff;
  --background-button-color: #f5f4fa;
  --card-gep-top: 30px;
  --card-gep-left: 30px;
  --card-item: 4;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  /* width: 100%; */
  max-width: 100%;
  height: auto;
}
body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  /* Ширина по макету 1170+15+15 */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-gep-top));
  margin-left: calc(-1 * var(--card-gep-left));
}
.card-item {
  margin-top: var(--card-gep-top);
  margin-left: var(--card-gep-left);
  flex-basis: calc(100% / var(--card-item) - var(--card-gep-left));
}
/* Header */
.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-nav {
  display: flex;
}
.site-list {
  margin-left: 50px;
}
.site-nav {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 93px;
}
.nav-list {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo-black {
  color: var(--logo-black);
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}
.site-nav {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
  display: flex;
}
/* Hero */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero {
  text-align: center;
  padding-top: 220px;
  padding-bottom: 280px;
  background-color: var(--background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  color: var(--button-color);
  margin-bottom: 30px;
}
.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--button-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}

/* Section description */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.about-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  color: var(--title-text-color);
}
/* Section process */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}
.process-list {
  --card-gep-top: 50px;
  --card-gep-left: 30px;
  --card-item: 3;
}
/*Section team*/
.title-team {
  font-weight: 500;
  color: var(--title-text-color);
}
.team-text,
.title-team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-list {
  --card-gep-top: 50px;
  --card-gep-left: 30px;
  --card-item: 4;
}
/* Section footer */
.footer {
  background-color: var(--background-color);
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
.logo-white {
  color: var(--logo-white);
}
.address {
  color: var(--adress-color);
  font-style: inherit;
}
.address .link[target='blank'] {
  color: var(--button-color);
}
/* section button */
.button-item {
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--background-button-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
}
.button-list {
  margin-left: 280px;
  display: flex;
}
.button-title {
  margin-left: 8px;
  position: relative;
}
.button-item .link:hover,
.button-item .link:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
}

/* section layouts*/
.title-layouts {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.title-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.list-layouts {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.layouts-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
